.container-box {
    padding: 40px 40px 0 240px;
}

.div-class-add {
    width: 97%;
    margin-bottom: 16px;
}

.div-class-filter {
    width: 97%;
    margin-bottom: 16px;
}

.card-class {
    display: inline-block;
    width: 48%;
    margin: 0 14px 14px 0;
    cursor: pointer;
}

.card-class:hover {
    background-color: #343a40;
    color: white;
}
