.container-box {
    padding: 40px 40px 0 240px;
}

.div-suggestion-controller {
    margin-bottom: 16px;
}

.input-suggestion-search {
    display: inline-block;
    float: right;
    margin-right: 8px;
    width: 16%;
}

.btn-suggestion-search {
    float: right;
    background-color: transparent;
    border: 1px solid #ced4da;
    cursor: pointer;
}

.btn-suggestion-search:hover {
    background-color: #ced4da;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

.width-no {
    width: 8%;
}

.width-title {
    width: inherit;
}

.width-writer {
    width: 8%;
}

.width-date {
    width: 8%;
}

.width-views {
    width: 8%;
}