*.iml
src/main/resources/rebel.xml
src/main/webapp/resources/libs/*
!src/main/webapp/resources/libs/sockjs/
!src/main/webapp/resources/libs/jquery-ui/jquery-ui.min.css
target
.metadata/
.classpath
.project
.settings/
src/main/resources/config/db-config.xml
src/main/resources/config/redis-config.xml
