.container-box {
    padding: 40px 40px 0 240px;
}

.card-pl-certificated {
    width: 28%;
}

.div-student-info-header {
    display: inline-block;
    float: right;
}

.div-student-info {
    display: inline-block;
    float: right;
}

.div-pl-certificated-contents {
    margin-top: 112px;
}

.div-pl-certificated-counselor > p:last-child {
    margin-bottom: 0;
}