.container-box {
    padding: 40px 40px 0 240px;
}

.div-counsel-filter {
    margin-bottom: 16px;
}

.counsel-filter-elem {
    display: inline-block;
    float: right;
    margin-right: 8px;
    width: 16%;
}

.btn-counsel-search {
    float: right;
    background-color: transparent;
    border: 1px solid #ced4da;
    cursor: pointer;
}

.btn-counsel-search:hover {
    background-color: #ced4da;
}

.input-counsel-contents {
    margin-top: 16px;
}

.div-counsel-info {
    display: inline-block;
}

.div-counsel-info > * {
    margin-top: 8px;
}

.div-counsel-info > i {
    margin: 0 8px 0 8px;
}

.div-counselor-info > span {
    margin-left: 21px;
}

.div-counselor-info > i {
    margin: 0 8px 0 8px;
}

.div-counselor-info > select {
    display: inline-block;
    margin: 8px 0 8px 0;
    width: 190px;
}

.counsel-picker-modal {
    display: inline-block;
    width: inherit;
}

.ui-timepicker-container {
    z-index: 9999 !important;
}