.container-box {
    padding: 40px 40px 0 240px;
}

.div-dept-controller {
    margin-bottom: 16px;
}

.select-college {
    margin-top: 16px;
    width: 300px;
}

.table-dept {
    width: 300px;
}

.select-college-modal {
    margin-bottom: 8px;
}