.container-box {
    padding: 40px 40px 0 240px;
}

.div-counsel-filter {
    margin-bottom: 16px;
}

.counsel-filter-elem {
    display: inline-block;
    float: right;
    margin-right: 8px;
    width: 16%;
}

.btn-counsel-search {
    float: right;
    background-color: transparent;
    border: 1px solid #ced4da;
    cursor: pointer;
}

.btn-counsel-search:hover {
    background-color: #ced4da;
}

.input-counsel-contents {
    margin-top: 16px;
}

.div-student-info-header {
    display: inline-block;
    float: right;
}

.div-student-info {
    display: inline-block;
    float: right;
}

.div-pl-certificated-contents {
    margin-top: 112px;
}

.div-pl-certificated-counselor > p:last-child {
    margin-bottom: 0;
}