.container-box {
    padding: 40px 40px 0 240px;
}

.input-class-mod {
    margin: 4px;
}

.btn-class-del {
    float: right;
    margin-right: 0;
    width: 100px;
}

.span-class-remove-txt {
    float: right;
    margin-top: 12px;
}
